* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.inline-form-textbox {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 150px;
}

.inline-form-submit-btn {
    margin-top: 8px;
    margin-right: 16px;
    padding: 6px 20px;
    background: #03cbb0;
    font-size: 17px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

#navbar {
    height: 50px;
    overflow: hidden;
    padding: 0px 150px;
    background: #555555;
    position: fixed;
    width: 90%;
    z-index: 1;
    opacity: 0.9;
}

.logo {
    float: left;
    width: 280px;
    padding: 15px 0px;
}

.logo a {
    color: #f2f2f2;
    text-decoration: none;
}

#navbar a {
    text-decoration: none;
}

.nav-list-wrapper {
    float: left;
    padding-left: 200px;
}

.nav-icon {
    margin-right: 10px;
}

.nav-list-wrapper ul {
    list-style: none;
}

.nav-list-wrapper li {
    display: inline;
    padding: 80px 0px;
}

.nav-list-wrapper a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 12px;
}

.nav-list-wrapper a:hover {
    cursor: pointer;
    color: #def6f2;
    background: #03cbb0;
    transition: 0.5s;
}

.search {
    float: right;
}

#search-btn {
    float: right;
}

.slider {
    background-image: url("../img/slider-0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 230px;
    font-size: 25pt;
}

.slider h1 {
    opacity: 0.7;
}

.slider-cta {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
    background-color: #0383cb;
    padding: 10px 20px;
    border-radius: 100px;
}

.slider-cta:hover {
    opacity: 1;
    transition: 0.5s;
}

.cta-btn {
    text-decoration: none;
    color: #fff;
    background-color: #0383cb;
    padding: 10px 20px;
    border-radius: 100px;
    margin-top: 30px;
}

.section {
    padding: 50px 150px;
    height: 620px;
}

.section h2 {
    font-size: 30pt;
    margin-bottom: 20px;
}

.footer {
    background-color: #555555;
    padding: 50px 150px;
    color: #fff;
}

.footer p {
    font-size: 14px;
}

.copyright-text {
    text-align: center;
    padding-top: 20px;
}