.slider {
    background-image: url("/img/slider-0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 230px;
    font-size: 25pt;
}

.slider h1 {
    opacity: 0.7;
}

.slider-cta {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
    background-color: #0383cb;
    padding: 10px 20px;
    border-radius: 100px;
}

.slider-cta:hover {
    opacity: 1;
    transition: 0.5s;
}

.featured.section {
    text-align: center;
}

.featured.section h2 {
    font-size: 30pt;
    margin-bottom: 20px;
}

.featured-recipe {
    float: left;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

.featured-recipe img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.featured-recipe-info h3,
.featured-recipe-info p {
    text-align: left;
}

.featured-recipe-info p {
    margin: 10px 0px 25px 0px;
}

.featured-recipe-cta {
    text-decoration: none;
    color: #fff;
    background-color: #0383cb;
    padding: 10px 20px;
    border-radius: 100px;
    margin-top: 30px;
}