.slider {
    background-image: url("/img/slider-0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 230px;
    font-size: 25pt;
}

.slider h1{
    opacity: 0.7;
}

.slider-cta{
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
    background-color: #0383cb;
    padding: 10px 20px;
    border-radius: 100px;
}

.slider-cta:hover{
    opacity: 1;
    transition: 0.5s;
}